<div class="brand-list">
  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Search</mat-label>
    <input matInput (input)="onFilter($event)" placeholder="Brand name" />
  </mat-form-field>

  @if (!vehicleService.brands().length) {
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  } @else {
    <cdk-virtual-scroll-viewport itemSize="50" class="brand-scroll">
      <mat-list>
        <mat-list-item
          *cdkVirtualFor="let brand of filteredBrands()"
          (click)="selectBrand(brand.Make_ID)"
          class="brand-list-item"
        >
          {{ brand.Make_Name }}
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  }
</div>
